{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Delete Category{% endblock %}</h2>
{% endblock %}
  
{% block content %}
{% if session['logged_in'] %}
<div class="w3-container">    
  <div class="w3-card-4">
    <div class="w3-container w3-green">
      <h3>Confirm deletion</h3>
    </div>
    <form action="/delete-category" method="POST" class="w3-container">
      <p><label for="categoryid">Category Id</label>
        <input name="categoryid" id="categoryid" value="{{ category_id }}" class="w3-input  w3-border" required readonly></p>        
      <p><label for="categoryname">Category Name</label>
      <input name="categoryname" id="categoryname" value="{{ category_name }}" class="w3-input  w3-border" required readonly></p>        
      <p><button type="submit" class="w3-button w3-green" value="Submit">Delete</button></p>
    </form>
  </div>
  <p><a href="/categories" class="w3-bar-item">Back to categories</a></p>
</div>
{% else %}
<p>Login first!</p>
{% endif %}
{% endblock %}
